.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.home__title {
  font-weight: bolder;
}

.home__emailfield {
  background: hsl(0, 0%, 100%);
}
