.prediction-item__container {
  border: 1px solid red;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.prediction-item__date {
  padding-bottom: 0.5rem;
}

.prediction-item__input {
  text-align: center;
}

.prediction-item__box-container {
  display: flex;
}

.prediction-item__box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction-item__box:first-child > span {
  margin-left: auto;
}

.prediction-item__box:last-child > span {
  margin-right: auto;
}
