.pool-list__container {
  background: hsl(0, 0%, 95%);
}

.pool-list__header {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 1rem;
}

.pool-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}
